.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input{
    background: transparent;
    margin: 10px 0;
}

.form input:active{
    opacity: 60%;
}

