.text{
    color: transparent;
    background: linear-gradient(lime,lime, black, lime);
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.form input{
    width: 60%;
    height: 5vh;
    background: transparent;
    outline: none;
    border: 1px solid lime;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 15px;
    color: whitesmoke;
    font-size: medium;
}

.form input::placeholder{
    color: lime;
    opacity: 30%;
}

.submit{
    font-size: 16px;
    color: lime;
    padding: 7px;
    background: transparent;
    border: 1px solid lime;
    border-radius: 7px;
}

.submit:hover{
    opacity: 50%;
}