
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.form input{
    background: transparent;
    margin-bottom: 10px;
}


